* {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

@font-face {
  font-family : segoeui;
  src : url(smoothness/fonts/segoeui.ttf) format("truetype");
}

@font-face {
  font-family : segoeuib;
  src : url(smoothness/fonts/segoeuib.ttf) format("truetype");
}

@font-face {
  font-family : segoeuii;
  src : url(smoothness/fonts/SEGOEUII.TTF) format("truetype");
}

@font-face {
  font-family : segoeuiz;
  src : url(smoothness/fonts/SEGOEUIZ.TTF) format("truetype");
}

body { /*font: 62.5% "Trebuchet MS", sans-serif;*/

}

.ui-combobox {
	position: relative;
	display: inline-block;
}

.ui-button {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	*height: 1.7em;
	*top: 0.1em;
}

.ui-autocomplete-input {
	margin: 0;
	padding: 0.3em;
}

.job-container {
  position: relative;
  left: 10px;
  margin-top: 15px;
  -webkit-box-shadow: 4px 4px 10px #222222, 0px 0px 15px #222222; 
  background-color: #CCCCCC;
}

.job-container div {
  position: relative;
  left: 8px;
  top: 8px;
  background-color: #FFFFFF;
}

.job-container div > p {
  font-size: 23px;
  text-indent : 30px;
  text-transform:capitalize;
}

.job-container div > p + div {
  width: 85%;
  height: 3px;
  background-color: #3B5998;
  margin-left: 4px;
  position: relative;
  top: -4px;
}

.job-container div > p + div + div {
  position: relative;
  top: -5px;
}

.job-container div > p + div + div > div span {
  color: #CCCCCC;
  font-size: 20px;
}

.job-container div > p + div + div > div + div + div span  {
  color: #000000;
  font-size: 20px;
  padding-left: 10px;
}

.pref-titlu {
  margin: 0px;
  display: block;
  font-size: 20px;
  text-indent: 200px;
  margin-top: 50px;
}

.pref-titlu + div {
  width: 80%;
  height: 3px;
  position: relative;
  left: 30px;
  background-color: #3B5998;
}

.pref-subtitlu {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-indent : 50px;
  padding-left: 30px;
}
