* {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

body {
	/*font: 62.5% "Trebuchet MS", sans-serif;*/
}

.ui-combobox {
	position: relative;
	display: inline-block;
}

.ui-button {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	*height: 1.7em;
	*top: 0.1em;
}

.ui-autocomplete-input {
	margin: 0;
	padding: 0.3em;
}